<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eligibuddy | Opportunity Finder</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;700&family=Source+Serif+4:wght@600;700&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/frontend.css}" href="/css/frontend.css">
</head>
<body th:attr="data-username=${username},data-authenticated=${username != null}">
    <th:block th:replace="~{fragments/frontend-sections :: loadingOverlay}"></th:block>
    <th:block th:replace="~{fragments/frontend-sections :: navbar}"></th:block>
    <th:block th:replace="~{fragments/frontend-sections :: mainContent}"></th:block>
    <th:block th:replace="~{fragments/frontend-sections :: resultsSection}"></th:block>
    <th:block th:if="${username != null}">
        <th:block th:replace="~{fragments/frontend-sections :: chatbotWidget}"></th:block>
    </th:block>

    <script defer th:src="@{/js/frontend.js}" src="/js/frontend.js"></script>
</body>
</html>
